div.critDisplayer{
    display: flex;
    margin-right: 0.5em;
    margin-left:0.5em;
}
div.critDisplayer .sliderContainer{
    width: 400px;
}

div.critDisplayer div.source select{
    margin-left: 1em;
}
div.critDisplayer div.formPart{
    flex: 1 1 auto;
}
div.critDisplayer div.formPart.sliderContainer{
    flex: 0 0 auto;
}
div.critDisplayer div.formPart.tableContainer{
    flex: 5 1 auto;
    width: 50%;
    background-color: linen;
}

div.critDisplayer .sliderContainer .rangeslider-horizontal .rangeslider__fill {
    background-color: red;
}
div.critDisplayer div.formPart.tableContainer div.critInfo{
    text-align: left;
}
div.critDisplayer div.formPart.tableContainer div.critInfo.current{
    background-color: #e6b280;
}
div.critDisplayer div.formPart.tableContainer div.critLoc{
    background-color: #e6b280;
    font-weight: bold;
}